* {
    font-family: 'Raleway', sans-serif;
    color: #2d3c49;
}

hr.style-hr {
    width: 75%;
    border-top: 3px solid #7d97ad;
}

hr.style-hr:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}

.title {
    text-align: right;
}

.featuredwork {
    width: 100%;
    margin: 30px;
    color: #7d97ad;
}

.codeimg {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.projects {
    text-align: center;
    margin: 100px;
}

.movieimg {
    height: 200px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rwd-break {
    display: inline-block;
}

@media screen and (min-width: 1200px){
    .rwd-break { display: none; }
}


